{% load static %}

<!-- responsive left menu -->
<div class="offcanvas offcanvas-start left-offcanvas-menu" tabindex="-1" id="offcanvasExample"
    aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h4 class="offcanvas-title" id="offcanvasExampleLabel">Ayhan D. Şanlı</h4>

    {% for navbarrighmedia in navbarrighmedia  %}
        <a href="{{ navbarrighmedia.link }}">
            <i class="{{ navbarrighmedia.platform }} text-white" style="font-size: 24px;" ></i>
        </a>
    {% endfor %}

        <button type="button" class="btn-close bg-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <div class="offcanvas-body p-0">

        
        <ul class="navbar-nav mt-4">

        {% for navbar in navbar  %}
            <li class="nav-item">
                <a class="nav-link" href="{% url navbar.url %}">{{navbar.title}}</a>
            </li>
        {% endfor %}
        {% if request.LANGUAGE_CODE == 'tr' %}
            <li class="d-flex flex-column text-center pt-4" style="border-top: 1px solid white; width: 100%;">
                <span>Dil Seçiniz: </span>  
                <a class="d-flex flex-column align-items-center" href="{% url 'set-language' 'en' %}" style="text-decoration: none; color: white;">
                    <div class="img-box mt-3">
                        <img src="{% static 'img/united-kingdom.png' %}" alt="" style="width: 20px;">
                        <span>English</span>
                    </div>
                    
                </a>
            </li>
        {% endif %}
        {% if request.LANGUAGE_CODE == 'en' %}
            <li class="d-flex flex-column text-center pt-4" style="border-top: 1px solid white; width: 100%;">
                <span>Langauge: </span>  
                <a class="d-flex flex-column align-items-center" href="{% url 'set-language' 'tr' %}" style="text-decoration: none; color: white;">
                    <div class="img-box mt-3">
                        <img src="{% static 'img/turkey.png' %}" alt="" style="width: 20px;">
                        <span>Turkish</span>
                    </div>
                </a>
            </li>
        {% endif %}
        </ul>
    </div>

    <div>
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave2"
                    d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"/>
            </defs>
            <g class="parallax">
                <use class="use" xlink:href="#gentle-wave2" x="48" y="0" fill="rgba(255,255,255,0.7"/>
                <use class="use" xlink:href="#gentle-wave2" x="48" y="3" fill="rgba(255,255,255,0.5)"/>
                <use class="use" xlink:href="#gentle-wave2" x="48" y="5" fill="rgba(255,255,255,0.3)"/>
                <use class="use" xlink:href="#gentle-wave2" x="48" y="7" fill="#fff"/>
            </g>
        </svg>
    </div>
</div>
<!-- responsive left menu finish -->