    {% extends 'index.html' %}

    {% load static %}


    {% block title %}
        Ayhan D. Şanlı | Hakkımda
    {% endblock title %}

    

    {% block content %}
        <div class="common-header-nav">
            {% include 'includes/_navbar.html' %}
        
            <div class="breadcrumb">
                <ul class="breadcrumbalt d-flex justify-content-between">
                    <li class="breadcrumb-item itemone">
                        <a href="{% url 'index' %}">
                            Anasayfa
                        </a>
                    </li>
                    <li class="breadcrumb-item itemtwo active" aria-current="page">Hakkımda</li>
                </ul>
            </div>
        
            <div class="inner-header flex">
            </div>
        
            <div>
                <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                    <defs>
                        <path id="gentle-wave"
                            d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                    </defs>
                    <g class="parallax">
                        <use class="use" xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                        <use class="use" xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                        <use class="use" xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                    </g>
                </svg>
            </div>
            <div class="common-section-header d-flex flex-column justify-content-center align-items-center">
                <h4 class="text-center mb-3"> Hakkımda</h4>
            </div>
        </div>
        <div class="about-section-one">
            <h4 class="minihead mb-4 text-center">Hikayem ve Vizyonum...</h4>
            <div class="container about-one">
                <div class="row aboutonesec d-flex justify-content-center">
                    <img class="aboutone-img" src="./img/bg-about.png" alt="">
                    <div class="col-lg-4 mt-5">
                        <div class="about-imgbox">
                            <img class="framed" src="./img/DENEME-6.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-4 d-flex justify-content-center align-items-center mt-5 mt-lg-0">
                        <div class="about-text">
                            <h5>Merhaba, ben Ayhan</h5>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure fugiat enim repudiandae praesentium quidem deleniti, atque delectus consequuntur hic vel! Eligendi voluptatum culpa totam sed quia! Aperiam ullam atque delectus est ipsum explicabo impedit corrupti, modi possimus corporis illo reprehenderit, deserunt, vero a libero beatae facilis laborum! Earum est tempora, vel natus voluptatem quidem, fuga ut id ab eligendi, quae iusto autem fugiat ratione aspernatur! Voluptate pariatur sint neque harum voluptates! Omnis blanditiis odio quo aperiam! Incidunt eveniet quibusdam sequi aspernatur, autem repudiandae commodi distinctio nobis ullam, totam eos! Odit fugiat atque maiores vero adipisci in fugit sequi molestias veniam.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid about-two" id="myElement">
                <div class="row">
                    <h4 class="minihead mb-4 text-center mt-5">Sertifikalarım...</h4>
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-8">
                            <p class="text-center">Üzerinde çalıştığım ve uzmanlık seviyesine ulaştığım üç farklı yazılım uzmanlığı sertifikasına sahibim. Bu sertifikalar, [Sertifika 1], [Sertifika 2] ve [Sertifika 3] programlarına odaklanarak, yazılım geliştirme süreçleri, uygulama tasarımı ve kodlama üzerine derinlemesine bilgi ve deneyim kazandığımı gösteriyor. Her bir sertifika, [belirli bir alandaki veya belirli bir teknolojiye odaklanan] becerilerimi ve bilgi birikimimi somut bir şekilde temsil ediyor. Bu sertifikalar, yazılım geliştirme alanındaki sürekli öğrenmeye ve profesyonel gelişime verdiğim değeri yansıtıyor.</p>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="col-10">
                            <div class="row">
                                <div class="col-md-4 mt-5">
                                    <div class="certificates">
                                        <img src="./img/neos-sertifika.png" alt="">
                                    </div>
                                </div>
                                <div class="col-md-4 mt-5">
                                    <div class="certificates">
                                        <img src="./img/fsm-sertifika.png" alt="">
                                    </div>
                                </div>
                                <div class="col-md-4 mt-5">
                                    <div class="certificates">
                                        <img src="./img/mudanya-sertifika.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="container-fluid about-three">
                <div class="row mt-5">
                    <h4 class="minihead mb-4 text-center mt-5">Yetkinliklerim...</h4>
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-10">
                            <p class="text-center">
                                Web geliştirme ve yazılım alanında geniş bir yelpazede deneyim sahibiyim. HTML, CSS ve Bootstrap gibi temel web teknolojileriyle birlikte Sass ile daha etkili CSS oluşturma yeteneklerine sahibim. JavaScript'i kullanarak interaktif ve dinamik web sayfaları oluştururken Python ile genel amaçlı programlama, veri analizi, yapay zeka ve web geliştirme gibi alanlarda çalışıyorum. Ayrıca, Django kullanarak güçlü ve ölçeklenebilir web uygulamaları geliştirme konusunda deneyimim bulunuyor.
                            </p>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-12">
                            <div class="competencies-logo">
                                <img src="./img/html-5.png" alt="">
                                <img src="./img/css-3.png" alt="">
                                <img src="./img/bootstrap.png" alt="">
                                <img src="./img/sass.png" alt="">
                                <img src="./img/js.png" alt="">
                                <img src="./img/pythonlogo.png" alt="">
                                <img src="./img/djangologo.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock content %}

