    {% extends 'index.html' %}

    {% load static %}


    {% block title %}
        Ocean AF Yazılım | Hakkımda
    {% endblock title %}

    

    {% block content %}
    {% for about in aboutsheet  %}
        <div class="common-header-nav">
            {% include 'includes/_navbar.html' %}
        
            <div class="breadcrumb">
                <ul class="breadcrumbalt d-flex justify-content-between">
                    <li class="breadcrumb-item itemone">
                        <a href="{% url about.breadcrumbOneUrl %}">
                            {{ about.breadcrumbOne}}
                        </a>
                    </li>
                    <li class="breadcrumb-item itemtwo active" aria-current="page">{{ about.breadcrumbTwo }}</li>
                </ul>
            </div>
        
            <div class="inner-header flex">
            </div>
        
            <div>
                <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                    <defs>
                        <path id="gentle-wave"
                            d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                    </defs>
                    <g class="parallax">
                        <use class="use" xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                        <use class="use" xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                        <use class="use" xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                    </g>
                </svg>
            </div>

            <div class="common-section-header d-flex flex-column justify-content-center align-items-center">
                <h4 class="text-center mb-3">{{ about.headTitle }}</h4>
            </div>
        </div>
        
        {% for abo in about.about_set.all %} 
        <div class="about-section-one">
            <h4 class="minihead mb-4 text-center">{{ abo.title }}</h4>
            <div class="container about-one">
                <div class="row aboutonesec d-flex justify-content-around align-items-center mt-md-5">
                    <div class="col-md-6 mt-5">
                        <div class="about-imgbox">
                            <img class="framed" src="{{ abo.img.url }}" alt="">
                        </div>
                    </div>
                </div>
                <div class="row mt-md-5 d-flex justify-content-center align-items-center">
                    <div class="col-md-10 d-flex justify-content-center align-items-center mt-5 mt-lg-0">
                        <div class="about-text text-center">
                            <div class="">
                                {{ abo.about | safe}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-center mt-4">
                    <div class="col-10 d-flex justify-content-center align-items-center">
                        <a href="{% url 'teams' %}" class="learn-more mybtn m-auto">
                            <span class="circle" aria-hidden="true">
                                <span class="icon arrow"></span>
                            </span>
                            {% if request.LANGUAGE_CODE == 'tr' %}
                            <span class="button-text">Takımımıza Git</span>
                            {% else %}
                            <span class="button-text">Go to Our Team</span>
                            {% endif %}
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    {% endfor %}

    {% endblock content %}

