    {% extends 'index.html' %}

    {% load static %}


    {% block title %}
        Ayhan D. Şanlı | Hakkımda
    {% endblock title %}

    

    {% block content %}
    
        <div class="common-header-nav">
            {% include 'includes/_navbar.html' %}
        
            <div class="breadcrumb">
                <ul class="breadcrumbalt d-flex justify-content-between">
                    <li class="breadcrumb-item itemone">
                        <a href="{% url 'index' %}">
                            Anasayfa
                        </a>
                    </li>
                    <li class="breadcrumb-item itemtwo active" aria-current="page">Hakkımda</li>
                </ul>
            </div>
        
            <div class="inner-header flex">
            </div>
        
            <div>
                <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                    <defs>
                        <path id="gentle-wave"
                            d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                    </defs>
                    <g class="parallax">
                        <use class="use" xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                        <use class="use" xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                        <use class="use" xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                    </g>
                </svg>
            </div>
            <div class="common-section-header d-flex flex-column justify-content-center align-items-center">
                <h4 class="text-center mb-3"> Hakkımda</h4>
            </div>
        </div>

        
    {% for about in aboutsheet  %}
            
        <div class="about-section-one">
            <h4 class="minihead mb-4 text-center">{{ about.title }}</h4>
            <div class="container about-one">
                <div class="row aboutonesec d-flex justify-content-center">
                    <img class="aboutone-img" src="{% static 'img/bg-about.png' %}" alt="">
                    <div class="col-lg-4 mt-5">
                        <div class="about-imgbox">
                            <img class="framed" src="{{ about.img.url }}" alt="">
                        </div>
                    </div>
                    <div class="col-lg-4 d-flex justify-content-center align-items-center mt-5 mt-lg-0">
                        <div class="about-text">
                            <div class="text-center">
                                {{ about.about | safe}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            {% for cer in about.certificate_set.all %}

            <div class="container-fluid about-two" id="myElement">
                <div class="row">
                    <h4 class="minihead mb-4 text-center mt-5">{{cer.cert_title}}</h4>
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-8">
                            <div class="text-center">
                                {{cer.cert_about |safe}}
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="col-10">
                            <div class="row">
                                <div class="col-md-4 mt-5">
                                    <div class="certificates">
                                        <img src="{{ cer.cert_img1.url }}" alt="">
                                    </div>
                                </div>
                                <div class="col-md-4 mt-5">
                                    <div class="certificates">
                                        <img src="{{ cer.cert_img2.url }}" alt="">
                                    </div>
                                </div>
                                <div class="col-md-4 mt-5">
                                    <div class="certificates">
                                        <img src="{{ cer.cert_img3.url }}" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}



            {% for skl in about.myskills_set.all %}

            <div class="container-fluid about-three">
                <div class="row mt-5">
                    <h4 class="minihead mb-4 text-center mt-5">{{ skl.skill_title }}</h4>
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-10">
                            <div class="text-center">
                                {{ skl.skill_about | safe }}
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-12">
                            <div class="competencies-logo">
                                <img src="{{ skl.skill_img1.url }}" alt="">
                                <img src="{{ skl.skill_img2.url }}" alt="">
                                <img src="{{ skl.skill_img3.url }}" alt="">
                                <img src="{{ skl.skill_img4.url }}" alt="">
                                <img src="{{ skl.skill_img5.url }}" alt="">
                                <img src="{{ skl.skill_img6.url }}" alt="">
                                <img src="{{ skl.skill_img7.url }}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}

        </div>

    {% endfor %}

    {% endblock content %}

