{% extends 'index.html' %}

{% load static %}


{% block title %}
    Ocean AF Yazılım | Blog
{% endblock title %}


{% block content %}
    <div class="common-header-nav">
        {% include 'includes/_navbar.html' %}
        <div class="breadcrumb">
            <ul class="breadcrumbalt d-flex justify-content-between">
                <li class="breadcrumb-item itemone"><a href="{% url blogList.breadcrumbOneUrl %}">{{ blogList.breadcrumbOne}}</a></li>
                <li class="breadcrumb-item itemtwo active" aria-current="page">{{ blogList.breadcrumbTwo }}</li>
            </ul>
        </div>

        <div class="inner-header flex">
        </div>

        <div>
            <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                <defs>
                    <path id="gentle-wave"
                        d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                </defs>
                <g class="parallax">
                    <use class="use" xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                    <use class="use" xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                    <use class="use" xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                </g>
            </svg>
        </div>
        <div class="common-section-header d-flex flex-column justify-content-center align-items-center">
            <h4 class="text-center mb-3">{{ blogList.headTitle }}</h4>
        </div>
    </div>

    <div class="blog-section-one">
        <h4 class="minihead mb-4 text-center">{{ blogList.subtitle }}</h4>
        <div class="container">
            <div class="row d-flex justify-content-center mt-5">
                <div class="col-md-10">
                    <div class="text-center">
                        {{ blogList.about | safe }}
                    </div>
                </div>
            </div>
        </div>
        <hr>
        
        
        <div class="container">
            <div class="row mt-4 d-flex justify-content-center align-items-center position-relative">
                <div class="col-12 category-col d-flex justify-content-around align-items-center">
                    <div id="myBtnContainer">

                        <button class="btn" onclick="filterSelection('all')"> {{ blogList.buttonText_subject_all }}</button>

                    {% for blog in blogs %}
                        <button class="btn" onclick="filterSelection('{{ blog.subject }}')"> # {{ blog.subject }}</button>
                    {% endfor %}

                    </div>
                </div>
            </div>

        {% for blog in blogs %}
            <div class="row blog-item filterDiv {{ blog.subject }}">
                <div class="col-xl-4 d-flex justify-content-center align-items-center">
                    <div class="row d-flex justify-content-center">
                        <div class="col-xl-4 d-flex justify-content-center align-items-center">
                            <div class="blog-category d-flex flex-column align-items-center justify-content-center ">
                                <i class="{{ blog.subject_icon }}"></i>
                                <p class="mb-0">{{ blog.subject }}</p>
                            </div>
                        </div>
                        <div class="col-xl-8 d-flex justify-content-center align-content-center py-5 py-xl-0">
                            <div class="blog-imgbox">
                                <img src="{{ blog.image.url }}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="row">
                        <div class="col-12">
                            <h4>{{ blog.title }}</h4>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-12">
                            <div class="overflow-text">
                                {{ blog.text | truncatechars:150 | safe }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 d-flex justify-content-center flex-column align-items-start">
                            <h6>{{ blogList.authorsub }}: <span class="text-muted fw-light">{{ blog.author }}</span></h6>
                            <p class="mb-0 text-muted fw-light">{{ blog.publish_date }}</p>
                        </div>
                        <div class="col-md-6 d-flex justify-content-center align-items-center">
                            <a href="{% url 'blog_detail' blog_id=blog.id %}" class="learn-more mybtn mt-5">
                                <span class="circle" aria-hidden="true">
                                    <span class="icon arrow"></span>
                                </span>
                                <span class="button-text">{{ blogList.buttonText }}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
            
        </div>    
    </div>
    
{% endblock content %}
