{% extends 'index.html' %}

{% load static %}


{% block title %}
    Ayhan D. Şanlı | İletişim
{% endblock title %}
    

{% block content %}

    <div class="common-header-nav">
        {% include 'includes/_navbar.html' %}

        <div class="breadcrumb">
            <ul class="breadcrumbalt d-flex justify-content-between">
                <li class="breadcrumb-item itemone">
                    <a href="{% url contactsheet.breadcrumbOneUrl %}">
                        {{contactsheet.breadcrumbOne}}
                    </a>
                </li>
                <li class="breadcrumb-item itemtwo active" aria-current="page">{{contactsheet.breadcrumbTwo}}</li>
            </ul>
        </div>

        <div class="inner-header flex">
        </div>

        <div>
            <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                <defs>
                    <path id="gentle-wave"
                        d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                </defs>
                <g class="parallax">
                    <use class="use" xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                    <use class="use" xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                    <use class="use" xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                </g>
            </svg>
        </div>
        <div class="common-section-header d-flex flex-column justify-content-center align-items-center">
            <h4 class="text-center mb-3">{{contactsheet.headTitle}}</h4>
        </div>
    </div>

    <section class="section-contactus">
        <h4 id="sectioncontact-us" class="minihead my-5 text-center ">{{contactsheet.subtitle}}</h4>
        <div class="text-center mx-5 mb-5">{{contactsheet.about | safe}}</div> 
        <div class="container d-none d-sm-block ">
            <div class="row d-flex justify-content-center">
                <div class="col-10 d-flex justify-content-center">
                    <img class="w-50" src="{% static 'img/contactarrow.png' %}" alt="">
                </div>
            </div>
        </div>
        <div class="container mt-5 mb-4 contact-container">
            <div class="row d-flex align-items-start justify-content-center py-5 px-md-5">
                <div class="col-md-3 text-center order-md-2  mt-5">
                    <ul class="list-unstyled text-white">
                    {% for fot in footer  %}
                        <li><i class="fas fa-map-marker-alt fa-2x"></i>
                            <p>{{ fot.adress }}</p>
                        </li>

                        <li><i class="fas fa-phone mt-4 fa-2x"></i>
                            <p>{{ fot.phone }}</p>
                        </li>

                        <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                            <p>{{ fot.email }}</p>
                        </li>
                    {% endfor %}
                    </ul>
                    
                </div>
                <div class="col-md-9 mb-md-0 mb-5 order-md-1">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-field d-flex flex-column">
                            <label for="id_name">Ad (Name):</label>
                            {{ form.name }}
                        </div>
                        <div class="form-field d-flex flex-column">
                            <label for="id_email">E-posta (Email):</label>
                            {{ form.email }}
                            {% if form.email.errors %}
                                <small class="error text-danger fw-bold">{{ form.email.errors }}</small>
                            {% endif %}
                        </div>
                        <div class="form-field d-flex flex-column">
                            <label for="id_subject">Konu (Subject):</label>
                            {{ form.subject }}
                        </div>
                        <div class="form-field d-flex flex-column">
                            <label for="id_message">Mesaj (Message):</label>
                            {{ form.message }}
                        </div>
                        <button type="submit" class="learn-more mybtn mt-5">
                            <span class="circle" aria-hidden="true">
                                <span class="icon arrow"></span>
                            </span>
                            <span class="button-text">{{contactsheet.buttonText}}</span>
                        </button>
                    </form>
                    

                </div>
            </div>
        </div>
    </section>

{% endblock content %}
    










