{% extends 'index.html' %}

{% load static %}


{% block title %}
Ocean AF Yazılım | Takımımız
{% endblock title %}

    
    

{% block content %}

    {% for team in teamsheet %}
        <div class="common-header-nav">
            {% include 'includes/_navbar.html' %}

            <div class="breadcrumb">
                <ul class="breadcrumbalt d-flex justify-content-between">
                    <li class="breadcrumb-item itemone"><a href="{{ team.breadcrumbOneUrl }}">{{ team.breadcrumbOne }}</a></li>
                    <li class="breadcrumb-item itemtwo active" aria-current="page">{{ team.breadcrumbTwo }}</li>
                </ul>
            </div>

            <div class="inner-header flex">
            </div>

            <div>
                <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                    <defs>
                        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                    </defs>
                    <g class="parallax">
                        <use class="use" xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                        <use class="use" xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                        <use class="use" xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                        <!-- <use class="use" xlink:href="#gentle-wave" x="48" y="7" fill="#fff" /> -->
                    </g>
                </svg>
            </div>
            <div class="common-section-header d-flex flex-column justify-content-center align-items-center">
                <h4 class="text-center mb-3">{{ team.headTitle }}</h4>
            </div>
        </div>
        <div class="teams-section-one mt-5">
            <h4 class="minihead mb-4 text-center">{{ team.subtitle }}</h4>
            <div class="container">
                <div class="row d-flex justify-content-center mt-5">
                    <div class="col-md-10">
                        <div class="text-center">
                            {{ team.about | safe }}
                        </div>
                    </div>
                </div>
                {% for persons in team.person_set.all %}
                <div class="row d-flex justify-content-center mt-5">
                    <div class="col-10 teams-person pb-lg-0">
                        <div class="row person-name">
                            <div class="col-12">
                                <h6 class="text-center">{{ persons.personName }} / <span>{{ persons.personJob }}</span></h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 person-left ps-0 pe-0">
                                <div class="img-box">
                                    <img src="{{ persons.personImg.url }}" alt="">
                                </div>
                                <div class="social">
                                    <a href="{{ persons.socialmediaIcon1_url }}">
                                        <i class="{{ persons.socialmediaIcon1 }}"></i>
                                    </a>
                                    <a href="{{ persons.socialmediaIcon2_url }}">
                                        <i class="{{ persons.socialmediaIcon2 }}"></i>
                                    </a>
                                    <a href="{{ persons.socialmediaIcon3_url }}">
                                        <i class="{{ persons.socialmediaIcon3 }}"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-8 person-right">
                                <div class="row mt-3">
                                    <div class="col-12 person-skill">
                                        {% if request.LANGUAGE_CODE == 'tr' %}
                                        <ul class="nav nav-tabs" id="myTab{{ persons.id }}" role="tablist">
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link active" id="home-tab{{ persons.id }}" data-bs-toggle="tab"
                                                    data-bs-target="#home-tab-pane{{ persons.id }}" type="button" role="tab"
                                                    aria-controls="home-tab-pane{{ persons.id }}" aria-selected="true">Hakkımda</button>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link" id="profile-tab{{ persons.id }}" data-bs-toggle="tab"
                                                    data-bs-target="#profile-tab-pane{{ persons.id }}" type="button" role="tab"
                                                    aria-controls="profile-tab-pane{{ persons.id }}" aria-selected="false">Özgeçmişim</button>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link" id="contact-tab{{ persons.id }}" data-bs-toggle="tab"
                                                    data-bs-target="#contact-tab-pane{{ persons.id }}" type="button" role="tab"
                                                    aria-controls="contact-tab-pane{{ persons.id }}"
                                                    aria-selected="false">Yetkinliklerim</button>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link" id="cer-tab{{ persons.id }}" data-bs-toggle="tab"
                                                    data-bs-target="#cer-tab-pane{{ persons.id }}" type="button" role="tab"
                                                    aria-controls="cer-tab-pane{{ persons.id }}" aria-selected="false">Sertifikalarım</button>
                                            </li>
                                        </ul>
                                        {% else %}
                                        <ul class="nav nav-tabs" id="myTab{{ persons.id }}" role="tablist">
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link active" id="home-tab{{ persons.id }}" data-bs-toggle="tab"
                                                    data-bs-target="#home-tab-pane{{ persons.id }}" type="button" role="tab"
                                                    aria-controls="home-tab-pane{{ persons.id }}" aria-selected="true">About</button>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link" id="profile-tab{{ persons.id }}" data-bs-toggle="tab"
                                                    data-bs-target="#profile-tab-pane{{ persons.id }}" type="button" role="tab"
                                                    aria-controls="profile-tab-pane{{ persons.id }}" aria-selected="false">My Resume</button>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link" id="contact-tab{{ persons.id }}" data-bs-toggle="tab"
                                                    data-bs-target="#contact-tab-pane{{ persons.id }}" type="button" role="tab"
                                                    aria-controls="contact-tab-pane{{ persons.id }}"
                                                    aria-selected="false">My Features</button>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link" id="cer-tab{{ persons.id }}" data-bs-toggle="tab"
                                                    data-bs-target="#cer-tab-pane{{ persons.id }}" type="button" role="tab"
                                                    aria-controls="cer-tab-pane{{ persons.id }}" aria-selected="false">My Certificates</button>
                                            </li>
                                        </ul>
                                        {% endif %}
                                        <div class="tab-content mt-3" id="myTabContent{{ persons.id }}">
                                            <div class="tab-pane fade show active" id="home-tab-pane{{ persons.id }}" role="tabpanel"
                                                aria-labelledby="home-tab{{ persons.id }}" tabindex="0">
                                                {{ persons.about | safe }}
                                            </div>
                                            <div class="tab-pane fade" id="profile-tab-pane{{ persons.id }}" role="tabpanel"
                                                aria-labelledby="profile-tab{{ persons.id }}" tabindex="0">
                                                <div class="card-content">
                                                    <div class="card-subtitle">{{ persons.cvHead }}</div>
                                                    <div class="card-timeline">
                                                        {% if persons.cvYear %}
                                                            <div class="card-item" data-year="{{ persons.cvYear }}">
                                                                <div class="card-item-title">{{ persons.cvJob }} /
                                                                    <span>{{ persons.cvCompany }}</span>
                                                                </div>
                                                                <div class="card-item-desc">{{ persons.cvAbout | safe }}</div>
                                                            </div>
                                                        {% endif %}
                                                        {% if persons.cvYear2 %}
                                                            <div class="card-item" data-year="{{ persons.cvYear2 }}">
                                                                <div class="card-item-title">{{ persons.cvJob2 }} /
                                                                    <span>{{ persons.cvCompany2 }}</span>
                                                                </div>
                                                                <div class="card-item-desc">{{ persons.cvAbout2 | safe }}</div>
                                                            </div>
                                                        {% endif %}
                                                        {% if persons.cvYear3 %}
                                                            <div class="card-item" data-year="{{ persons.cvYear3 }}">
                                                                <div class="card-item-title">{{ persons.cvJob3 }} /
                                                                    <span>{{ persons.cvCompany3 }}</span>
                                                                </div>
                                                                <div class="card-item-desc">{{ persons.cvAbout3 | safe }}</div>
                                                            </div>
                                                        {% endif %}
                                                        {% if persons.cvYear4 %}
                                                            <div class="card-item" data-year="{{ persons.cvYear4 }}">
                                                                <div class="card-item-title">{{ persons.cvJob4 }} /
                                                                    <span>{{ persons.cvCompany4 }}</span>
                                                                </div>
                                                                <div class="card-item-desc">{{ persons.cvAbout4 | safe }}</div>
                                                            </div>
                                                        {% endif %}
                                                        {% if persons.cvYear5 %}
                                                            <div class="card-item" data-year="{{ persons.cvYear5 }}">
                                                                <div class="card-item-title">{{ persons.cvJob5 }} /
                                                                    <span>{{ persons.cvCompany5 }}</span>
                                                                </div>
                                                                <div class="card-item-desc">{{ persons.cvAbout5 | safe }}</div>
                                                            </div>
                                                        {% endif %}

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="contact-tab-pane{{ persons.id }}" role="tabpanel"
                                                aria-labelledby="contact-tab{{ persons.id }}" tabindex="0">
                                                <div>
                                                    {{ persons.skillAbout | safe }}
                                                </div>
                                                <div class="row">
                                                    {% if persons.skillImg1 %}
                                                        <div class="col-2 mb-2">
                                                            <img class="w-100" src="{{ persons.skillImg1.url }}" alt="">
                                                        </div>
                                                    {% endif %}
                                                    {% if persons.skillImg2 %}
                                                        <div class="col-2 mb-2">
                                                            <img class="w-100" src="{{ persons.skillImg2.url }}" alt="">
                                                        </div>
                                                    {% endif %}
                                                    {% if persons.skillImg3 %}
                                                        <div class="col-2 mb-2">
                                                            <img class="w-100" src="{{ persons.skillImg3.url }}" alt="">
                                                        </div>
                                                    {% endif %}
                                                    {% if persons.skillImg4 %}
                                                        <div class="col-2 mb-2">
                                                            <img class="w-100" src="{{ persons.skillImg4.url }}" alt="">
                                                        </div>
                                                    {% endif %}
                                                    {% if persons.skillImg5 %}
                                                        <div class="col-2 mb-2">
                                                            <img class="w-100" src="{{ persons.skillImg5.url }}" alt="">
                                                        </div>
                                                    {% endif %}
                                                    {% if persons.skillImg6 %}
                                                        <div class="col-2 mb-2">
                                                            <img class="w-100" src="{{ persons.skillImg6.url }}" alt="">
                                                        </div>
                                                    {% endif %}
                                                    {% if persons.skillImg7 %}
                                                        <div class="col-2 mb-2">
                                                            <img class="w-100" src="{{ persons.skillImg7.url }}" alt="">
                                                        </div>
                                                    {% endif %}
                                                    {% if persons.skillImg8 %}
                                                        <div class="col-2 mb-2">
                                                            <img class="w-100" src="{{ persons.skillImg8.url }}" alt="">
                                                        </div>
                                                    {% endif %}
                                                    {% if persons.skillImg9 %}
                                                        <div class="col-2 mb-2">
                                                            <img class="w-100" src="{{ persons.skillImg9.url }}" alt="">
                                                        </div>
                                                    {% endif %}
                                                    {% if persons.skillImg10 %}
                                                        <div class="col-2 mb-2">
                                                            <img class="w-100" src="{{ persons.skillImg10.url }}" alt="">
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="cer-tab-pane{{ persons.id }}" role="tabpanel"
                                                aria-labelledby="cer-tab{{ persons.id }}" tabindex="0">
                                                <div>
                                                    {{ persons.cerAbout | safe }}
                                                </div>
                                                <div>
                                                    <div class="row">
                                                        {% if persons.cerImg1 %}
                                                            <div class="col-md-4">
                                                                <img class="w-100" src="{{ persons.cerImg1.url }}" alt="">
                                                            </div>
                                                        {% endif %}
                                                        {% if persons.cerImg2 %}
                                                            <div class="col-md-4">
                                                                <img class="w-100" src="{{ persons.cerImg2.url }}" alt="">
                                                            </div>
                                                        {% endif %}
                                                        {% if persons.cerImg3 %}
                                                            <div class="col-md-4">
                                                                <img class="w-100" src="{{ persons.cerImg3.url }}" alt="">
                                                            </div>
                                                        {% endif %}
                                                        {% if persons.cerImg4 %}
                                                            <div class="col-md-4">
                                                                <img class="w-100" src="{{ persons.cerImg4.url }}" alt="">
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock content %}